<script lang="ts">
    import workerimg from 'images/worker-bg.png';
</script>

<style>
    nav {
        align-items: center;
        display: flex;
        min-height: 100vh;
        justify-content: center;
    }
    nav a {
        align-items: center;
        
        border: 1px solid #eaeaea;
        display: flex;
        height: 25rem;
        margin: 1rem;
        overflow: hidden;
        position: relative;
        width: 25rem;
        justify-content: center;
    }
    nav a img {
        filter: blur(10px);
        height: 100%;
        opacity: 0.3;
        position: absolute;
        width: 100%;
    }
    @media only screen and (max-width: 600px) {
        nav {
            flex-direction: column;
        }
        nav a {
            width: calc(100vw - 2rem);
        }
    }
</style>

<svelte:head>
	<title>Sapper project template</title>
</svelte:head>

<nav class="container">
    <a href="/resume" class="resume">
        <img alt="" src='{workerimg}' aria-hidden />
        Resume
    </a>
    <a href="/projects" class="projects">
        <img alt="" src='{workerimg}' aria-hidden />
        Projects
    </a>
</nav>
